.choose-btn, .reset-btn{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.choose-btn{
    background-color: lightseagreen;
}
.reset-btn{
    background-color: gold;
}
.generated-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkorange;
}
.generated-item img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.generated-item button{
    cursor: pointer;
    background-color: gold;
    border: none;
    padding: 8px 5px 5px 5px;
    border-radius: 5px;
    font-size: 20px;
}